#main-navbar ul.navbar-right {
  padding-right: 30px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
}

#page-description p {
  text-align: center;
}

.dropdown {
  text-align: center;
;
}

.h2-center {
  text-align: center;
}

li.ingredient-item:hover {
  text-decoration: underline;
background-image: #abcdef;
}

#result-box {
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

#button-div {
  text-align: center;
}

#find-recipes {
  margin: 20px;
  padding: 20px;

}

.recipe-display {
  text-align: center;
  border-width: thick;
}

.recipe-display li {
  list-style-type: none;
}
 #header1 {
border-color: green;
}

.body {
  background-color: #E6E6E6:
}

.jumbotron {
  background-image: url("../img/food.jpg");
  background-size: 1247px 225px;
  background-repeat: no-repeat;
}

.container {
background-color: #CBF5BC;
padding-bottom: 20px;
padding-top: 10px;
}

.ingredient_list {
  margin-right: 40px;
}

.recipe-display {
  display: none;
}

.center {
  text-align: center;
}
