ul.navbar-right {
  padding-right: 30px;
}

.navbar {
  background-color: #232323;
}

.navbar-default .navbar-nav>li>a {
  color: #B7B7B7;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.jumbotron-text {
  color: #F6F6F6;
  text-align: justify;
  text-shadow: 2px 2px #626262;
  margin-top: 7%;
  margin-left: 2%;
  margin-right: 10%;
}

.jumbotron {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin-left: 3%;
  margin-right: 3%;
  height: 30%;
}

#jumbotron-main {
  background-image: url("../img/strawberries5.jpg");
}

#jumbotron-pantry {
  background-image: url("../img/spices3.jpg");
}

#jumbotron-about {
  background-image: url("../img/kitchenpot2.jpg");
}

.container {
padding-bottom: 20px;
}

.dropdown {
  text-align: center;
  margin: 25px;
}

.dropdown-menu {
  left: 50%;
  right:auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.center {
  text-align: center;
}

#rocketPitch {
  text-align: left;
}

#find-recipes {
  margin-top: 10px;
  padding: 10px 25px 10px 25px;
}

#recipe-image, #recipe-title, #publisher, #ingredients {
  text-align: justify;
}

.recipe-display li {
  list-style-type: none;
}

.ingredient_list {
  text-align: justify;
  padding-left: 10px;
}

#recipe-image {
  margin-top: 40px;
}

.recipe-display, .select-reminder {
  display: none;
}

#ingredient-select-block {
  background-color: #F0F3D9;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 15px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.footer p {
  padding-left: 5%;
  font-style: italic;
}

@media only screen and (max-width: 480px) {

  #recipe-image, #recipe-title, #publisher, #ingredients, #recipe-image {
    text-align: center;
  }

}
